:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 0;

  display: flex;
}

a:link,
a:visited {
  color: var(--color-brand--1);
}

.menu {
  cursor: pointer;
  padding: 0.2rem 0.6rem;
  background-color: var(--color-dark--1);
  position: fixed;
  z-index: 1002;
}

.leaflet-control-container {
  position: absolute;
  right: 56px;
  bottom: 88px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color-light--2);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  position: fixed;
  width: 50rem;
  height: 100vh;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.workouts {
  list-style: none;
  max-height: 77vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 5px;
}

.workouts::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-light--1);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.workouts::-webkit-scrollbar-thumb {
  background: var(--color-brand--1);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 1.5rem 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100fr 1fr 1fr;
  gap: 1rem 0.25rem;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -2;
}

.workouts__sort__header {
  display: flex;
  gap: 20px;
  font-size: 1.3em;
  padding: 0 5px;
}

.workouts__sort__header a {
  text-decoration: none;
  color: var(--color-light--1) !important;
}

.workouts__sort__header a:hover {
  color: var(--color-light--2) !important;
}

.workouts__sort__header .active__sort,
.workouts__sort__header .active__sort a {
  color: var(--color-light--3) !important;
  font-weight: 800;
}

.workouts__sort__header a:focus, .workouts__sort__header a:active {
  outline: none;
}

.workout__edit {
  grid-column: -2;
}

.workout__delete {
  grid-column: -1;
}

.workout__delete, .workout__edit {
  color: var(--color-light--1) !important;
  align-self: center;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 0 5px;
}

.workout__delete .tooltip, .workout__edit .tooltip {
  font-weight: 400 !important;
  font-size: 1.1rem;
}

.workout__edit:hover, .workout__delete:hover {
  color: var(--color-light--2) !important;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workouts__delete_all {
  align-self: flex-end;
  border: 1px solid var(--color-light--1);
  padding: 2px 8px 0px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-light--1);
}

.workouts__delete_all:hover {
  color: var(--color-light--3);
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.2s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__close {
  grid-column: 1 / -1;
  margin-top: -14px;
  height: 0;
  margin-left: -20px;
  font-size: 1.2rem;
}

.form__close a {
  color: var(--color-light--1) !important;
  text-decoration: none;
}

.form__close a:hover {
  color: var(--color-light--2) !important;
}

.hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

select.form__input {
  padding-left: 1px;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.workout-icon {
  font-size: 35px;
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

.animate {
  opacity: 0;
  transition: opacity 0.2s;
}

.fit__workouts {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 90px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border-color: var(--color-light--1);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  opacity: 0.6;
  text-align: center;
  z-index: 999;
}

.fit__workouts:hover {
  opacity: 0.9;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: auto;
  font-size: 1.1rem;
  background-color: #000;
  color: var(--color-light--2);
  padding: 0 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  margin-top: -15px;
  margin-left: -30px;
}

.workout__edit:hover .tooltip,
.workout__delete:hover .tooltip,
.form__close:hover .tooltip {
  visibility: visible;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    padding: 3rem 1rem;
    max-width: 38rem;
    width: 38rem;
  }

  .logo {
    height: 3rem;
    margin-bottom: 3rem;
  }

  .workout {
    padding: 0.5rem;
    max-width: 37rem;
    margin-bottom: 1rem;
  }

  .workouts__sort__header {
    gap: 18px;
  }
}